body {
    margin: 0;
}

.bg_video {
    object-fit: cover;
}

.page-top {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    padding: 3vh 0 0;
}

.page-top .logo {
    display: inline-block;
    width: 50vw;
}

.page-top .logo img {
    width: 100%;
}

.page-main {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    padding: 0 0 16vh;
}

.page-main .download {
    display: inline-block;
    width: 60vw;
    height: 16.02vw;
}

.page-main .download.btn-and {
    background: url(../image/mobile/btn_android.png) center / 100% no-repeat;
}

.page-main .download.btn-ios {
    background: url(../image/mobile/btn_ios.png) center / 100% no-repeat;
}