body {
    background-color: #262941;
    font-size: 0.24rem;
    max-width: 750px;
    margin: 0 auto !important;
    position: relative;
}

.canvas {
    width: 100vw!important;
    height: 100vh!important;
    position: absolute;
    top: 0;
    left: 0;
}

.mobile {
    position: relative;
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../image/mobile/h5_bg.gif) top / cover no-repeat;
}

.mobile >.content {
    position: relative;
    z-index: 3;
}

.mobile >.content .logo {
    width: 50%;
    margin: 0 auto;
}

.mobile >.content .slogan {
    width: 80%;
    margin: calc(40 / 750 * 100vw) auto;
}

.mobile >.content .logo img,
.mobile >.content .slogan img {
    width: 100%;
}

.mobile >.content .btn-box {
    width: 50%;
    margin: calc(216 / 750 * 100vw) auto 0;
}

.mobile >.content .btn-box img {
    display: inline-block;
    width: 100%;
}

.mobile >.content .btn-box .btn_android {
    margin-bottom: calc(100 / 750 * 100vw);
}

.mobile >.content .footer {
    color: #fff;
    margin: calc(32 / 750 * 100vw) 0 0;
    text-align: center;
}

.mobile.img-bg >.content .footer {
    color: #2e2e2e;
}

#install-doc {
    z-index: -2;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 750px;
    font-size: .24rem;
    overflow-y: auto;
    display: none;
}

#install-doc .fix-close {
    position: fixed;
    right: 0.35rem;
    top: 0.32rem;
    width: 0.66rem;
    height: 0.66rem;
}

#ios-mask {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#ios-mask .modal {
    width: 80vw;
    height: 20vh;
    position: absolute;
    left: 10vw;
    top: 30vh;
    background-color: #1ab3fa;
    border-radius: 20px;
}

#ios-mask .modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: auto;
}

#ios-mask .modal .content {
    padding: 20px 30px;
    display: flex;
    align-items: center;
}

#ios-mask .modal .content h2 {
    margin: 0;
    color: #fff;
    font-weight: 500;
}

#ios-mask .modal .content p {
    margin: 0 0 10px 0;
    color: #fff;
}

#ios-mask .modal img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#ios-mask .modal .copy {
    width: 100%;
    height: 90px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}

#ios-mask .modal .address {
    width: 65vw;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #f4f4f4;
    display: flex;
    margin-top: 20px;
}

#ios-mask .modal .address span:nth-of-type(1) {
    display: block;
    width: 80%;
    line-height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
}

#ios-mask .modal .address span:nth-of-type(2) {
    display: block;
    width: 20%;
    text-align: center;
    line-height: 50px;
    background-color: #3b8df9;
    color: #fff;
}